.ModalBlock {
  min-width: 320px;
  max-width: 560px;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 50px;
  padding: 0 12px var(--safe-area-inset-bottom) 12px;
  box-sizing: border-box;
}

.ModalBlock__inner {
  position: relative;
  background-color: white;
  border-radius: 12px;
  padding: 12px;
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  overflow: hidden;
}