.Text {
  font-family: -apple-system, system-ui, Roboto, sans-serif;
}

.Text_weight--light {
  font-weight: 400;
}

.Text_weight--normal {
  font-weight: 500;
}

.Text_weight--bold {
  font-weight: 600;
}

.Text_size--small {
  font-size: 8pt;
  line-height: 8pt;
}

.Text_size--normal {
  font-size: 12pt;
  line-height: 12pt;
}

.Text_size--medium {
  font-size: 14pt;
  line-height: 14pt;
}

.Text_size--large {
  font-size: 18pt;
  line-height: 18pt;
}

.Text_transform--normal {
  text-transform: none;
}

.Text_transform--lowercase {
  text-transform: lowercase;
}

.Text_transform--uppercase {
  text-transform: uppercase;
}