.Full {
  display: flex;
  height: -webkit-fill-available;
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  background: #0000000f;
  padding-bottom: var(--safe-area-inset-bottom);
  box-sizing: border-box;
}