.BalanceContainer {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 3;
}

.BalanceContainer__inner {
  display: flex;
  position: absolute;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 24px 12px;
  box-sizing: border-box;
}