.BalanceContainer {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 3;
  flex-direction: row-reverse;
}

.BalanceContainer__inner {
  display: flex;
  position: absolute;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 210px;
  padding: 24px 12px;
  box-sizing: border-box;
}

.BalanceContainer__inner button {
  margin-bottom: 12px;
}