.cls-1 {
  fill: none;
}

.cls-2 {
  fill: #0026cc;
}

.cls-3,
.cls-5 {
  fill: #fff;
}

.cls-3 {
  isolation: isolate;
  opacity: 0.1;
}

.cls-4 {
  fill: #dad4d4;
}

.cls-6 {
  fill: #56a100;
}

.cls-7 {
  fill: #c90080;
}

.cls-20 {
  /* fill: #86aedc; */
  fill: #d8eaff;
}

.cls-21 {
  /* fill: #9cc2e8; */
  fill: #c5e0fb;
}

.cls-22 {
  /* fill: #0a494e; */
  fill: #128a0f;
}

.cls-23 {
  /* fill: #00685e; */
  fill: #38b51d;
}

.cls-24 {
  /* fill: #033e43; */
  fill: #07611b;
}

.cls-25 {
  /* fill: #073338; */
  fill: #074214;
}

.cls-26 {
  fill: #fbaa34;
}

.cls-27 {
  fill: #ffcb46;
}

.cls-28 {
  fill: #f28e26;
}

.cls-29 {
  fill: #f7c154;
}

.cls-30 {
  fill: #eaaf2d;
}

.cls-31 {
  fill: #e8932e;
}

.cls-32 {
  fill: #f42f2f;
}

.cls-33 {
  fill: #f2ab38;
}

.cls-34 {
  fill: #353232;
}

.cls-35 {
  fill: #f4c237;
}

.cls-36 {
  fill: #cf3adb;
}

.cls-37 {
  fill: #af21bf;
}

.cls-38 {
  fill: #8c0e9e;
}

.cls-39 {
  fill: #ea95f4;
}

.cls-40 {
  fill: #ff9797;
}

.cls-41 {
  fill: #e21b1b;
}

.cls-42 {
  fill: #c61010;
}

.cls-43 {
  fill: #62c3f4;
}

.cls-44 {
  fill: #29a3d3;
}

.cls-45 {
  fill: #1489ad;
}

.cls-46 {
  fill: #aae3f9;
}

.cls-47 {
  fill: #7ace38;
}

.cls-48 {
  fill: #64af22;
}

.cls-49 {
  fill: #519113;
}

.cls-50 {
  fill: #b3ea83;
}

.cls-51 {
  fill: #0c5f72;
}

.cls-52 {
  fill: #ffe6bb;
}

.cls-167 {
  fill: #1a2a58;
}

.cls-139 {
  fill: #d8eaff;
}