#garland_red {
  -webkit-animation: _garlandRed 2s linear infinite;
  animation: _garlandRed 2s linear infinite;
}

#garland_blue {
  -webkit-animation: _garlandBlue 2s linear 3s infinite;
  animation: _garlandBlue 2s linear 3s infinite;
}

#garland_green {
  -webkit-animation: _garlandGreen 2s linear 6s infinite;
  animation: _garlandGreen 2s linear 6s infinite;
}

#snowflake {
  -webkit-animation: _garlandSnowflake 2s linear 6s infinite;
  animation: _garlandSnowflake 2s linear 6s infinite;
}