html,
body {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: 320px;
  background: var(--base);
  color: var(--inverted-90);
  font-family: var(--font-common);
  pointer-events: painted;
  touch-action: manipulation !important;
  font-family: -apple-system, system-ui, Roboto, sans-serif;
}

body {
  height: -webkit-fill-available;
  height: 100vh;
}

#app {
  display: block;
  height: 100%;
}

div,
span {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*::-webkit-scrollbar {
  width: 0 !important
}

* {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

@supports (padding-top: constant(safe-area-inset-top)) {
  :root {
    --safe-area-inset-top: constant(safe-area-inset-top);
    --safe-area-inset-right: constant(safe-area-inset-right);
    --safe-area-inset-bottom: constant(safe-area-inset-bottom);
    --safe-area-inset-left: constant(safe-area-inset-left);
  }
}

@supports (padding-top: env(safe-area-inset-top)) {
  :root {
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
  }
}