.ButtonBlock {
  display: flex;
  justify-content: center;
  padding: 0 24px 12px 24px;
}

.ButtonBlock__inner {
  display: flex;
  width: 100%;
  max-width: 350px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.ButtonBlock__inner button:first-child {
  margin-right: 12px;
}